.container{
    margin-top: 5%;
    width: 70%;
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.175); ;
    border-radius: 0.375rem;
}

.mt-5{
    margin-bottom: 20px;
}

.bi{
    margin-left: 5px;
    margin-right: 5px;
}

p{
    text-align: justify;
}

mat-divider{
    margin-top: 40px;
    margin-bottom: 40px;
}
