@import 'bootstrap/scss/bootstrap';
@import url("https://unpkg.com/leaflet@1.7.1/dist/leaflet.css");
@import 'leaflet/dist/leaflet.css';

h1,h2,h3,h4,h5,h6 {
  color: #121212;
  transition: color 0.5s ease-in-out;
}

h1:hover,h2:hover,h3:hover,h4:hover,h5:hover,h6:hover {
  color: #673ab7;
}
