<div class="container-lg">
  <section class="main">
      <div class="container-lg">
          <div class="row justify-content-center">
              <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 col-xl-6">
                  <h1 class="title"> Crea il tuo account</h1>
                    <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
                      <mat-step [stepControl]="firstFormGroup">
                        <form [formGroup]="firstFormGroup" (input)="updateErrorMessage()">
                          <ng-template matStepLabel class="mat-label-stepper"> Inserisci credenziali</ng-template>

                          <div class="col-sm-12 mb-2">
                              <mat-form-field class="sign-mat-group">
                                  <mat-label>Email</mat-label>
                                  <input matInput type="email" placeholder="email@example.en" formControlName="email" required>
                              </mat-form-field>
                          </div>

                          <div class="col-sm-12 mb-2">
                              <mat-form-field class="sign-mat-password">
                                  <mat-label for="pass">Password</mat-label>
                                  <input matInput [type]="hidePass ? 'password' : 'text'" formControlName="pass" id="pass" required>
                                  <button mat-icon-button matSuffix (click)="hidePass = !hidePass" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePass">
                                    <mat-icon>{{hidePass ? 'visibility_off' : 'visibility'}}</mat-icon>
                                  </button>
                              </mat-form-field>
                          </div>

                          <div>
                            <mat-form-field class="sign-mat-password">
                              <mat-label for="confPass">Conferma password</mat-label>
                              <input matInput [type]="hideConfPass ? 'password' : 'text'" formControlName="passConf" id="passConf" required>
                              <button mat-icon-button matSuffix (click)="hideConfPass = !hideConfPass" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideConfPass">
                                <mat-icon>{{hideConfPass ? 'visibility_off' : 'visibility'}}</mat-icon>
                              </button>
                            </mat-form-field>
                          </div>

                          <div *ngIf="firstFormGroup.hasError('mismatch')">
                            <p class="text-danger">Le password non coincidono.</p>
                          </div>

                          <div>
                            <button mat-button matStepperNext [disabled]="firstFormGroup.invalid">Prosegui</button>
                          </div>
                        </form>
                      </mat-step>
                      <mat-step [stepControl]="secondFormGroup">
                        <form [formGroup]="secondFormGroup" (input)="updateErrorMessage()">
                          <ng-template matStepLabel class="mat-label-stepper">Dati personali</ng-template>

                          <div class="row">
                              <div class="col-sm-12 mb-2">
                                  <div class="first-row-secondForm">
                                      <mat-form-field class="sign-mat-password">
                                          <mat-label>Nome</mat-label>
                                          <input matInput formControlName="name" required>
                                      </mat-form-field>

                                      <mat-form-field class="sign-mat-password-confirm">
                                          <mat-label>Cognome</mat-label>
                                          <input matInput formControlName="surname" required>
                                      </mat-form-field>
                                  </div>

                                  <div>
                                      <mat-form-field color="primary">
                                          <mat-label>Inherited calendar color</mat-label>
                                          <input matInput [matDatepicker]="picker1" formControlName="date">
                                          <mat-hint>MM/DD/YYYY</mat-hint>
                                          <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                                          <mat-datepicker #picker1 color="primary"></mat-datepicker>
                                        </mat-form-field>
                                  </div>

                              </div>
                          </div>

                          <div>
                            <button mat-button matStepperPrevious>Indietro</button>
                            <button mat-button matStepperNext [disabled]="secondFormGroup.invalid">Prosegui</button>
                          </div>

                        </form>
                      </mat-step>
                      <mat-step>
                        <ng-template matStepLabel>Conferma</ng-template>
                        <div class="p-sign">
                          <p> Clicca sul "Registrati" per confermare la registrazione.</p>
                        </div>
                        <div class="col-sm-12 d-grid">
                          <a mat-button color="primary" (click)="signup()"> Registrati</a>
                      </div>

                      <div *ngIf="errorMessage">
                        <p class="text-danger">{{ errorMessage }}</p>
                      </div>

                        <div>
                          <button mat-button matStepperPrevious>Indietro</button>
                          <button mat-button (click)="stepper.reset()">Reset</button>
                        </div>
                      </mat-step>
                    </mat-stepper>
                      <div class="row">
                          <div class="col-sm-12">
                              <a mat-stroked-button aria-current="page" [routerLink]="['/login']" class="col-sm-12 btn-signup" >
                                  <span class="explanation mr-2"> Hai un account? </span>
                                  <span class="undrline"> Login </span>
                              </a>
                          </div>
                      </div>
              </div>
          </div>
      </div>
  </section>
</div>

