mat-form-field{
    width: 100%;
}

#mapset{
    margin-top: auto;
    margin-bottom: auto;
}

button{
  background-color: #673ab7;
}

.snackbar-custom .mat-snack-bar-action {
  text-decoration-color: #673ab7;
}


